.control {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  height: 30px;
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.8);
}

.label {
  font-size: medium;
}

.timeEntry:hover {
  background-color: rgba(64,90,128,0.2);
}